internship_workflow.json
{
  "name": "Internship Pipeline - Auto Built",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "internship python pytorch"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "={{ $env[\"LINKEDIN_API_KEY\"] }}"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        }
      },
      "name": "Fetch Jobs (JSearch via RapidAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "prompt": "Evaluate this job description for a Python/PyTorch internship. Score it 0-100 on how well it fits. Output ONLY a valid JSON with {\"score\": number}.\n\nJob Description: {{ $json.description }}",
        "options": {}
      },
      "name": "Gemini AI Scoring",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ JSON.parse($json.text).score }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "name": "If Score >= 70",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://latex-api:8000/compile",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "latex_code",
              "value": "\\documentclass{article}\\begin{document}Hello world, this is a placeholder for your tailored resume generated by Gemini!\\end{document}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Generate PDF (LaTeX API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        280
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Internship Application - Software Engineering",
        "message": "Hello,\n\nI am reaching out regarding the internship role. I have attached my resume.\n\nBest,\nSanjana",
        "toEmail": "hr@example.com"
      },
      "name": "Gmail Node",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1350,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Jobs (JSearch via RapidAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs (JSearch via RapidAPI)": {
      "main": [
        [
          {
            "node": "Gemini AI Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Scoring": {
      "main": [
        [
          {
            "node": "If Score >= 70",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Score >= 70": {
      "main": [
        [
          {
            "node": "Generate PDF (LaTeX API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF (LaTeX API)": {
      "main": [
        [
          {
            "node": "Gmail Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
